export(CreateTextnet)
export(InterpretText)
export(PrepText)
export(PrepTextNounPhrases)
export(TextCentrality)
export(TextCommunities)
export(VisualizeText)
export(VisualizeTextD3js)
import(dplyr)
import(Matrix)
import(tidytext)
import(stringr)
import(SnowballC)
import(reshape2)
import(phrasemachine)
import(igraph)
import(ggraph)
import(networkD3)


