export(CreateTextnet)
export(InterpretText)
export(PrepText)
export(TextCentrality)
export(TextCommunities)
export(VisTextNet)
export(VisTextNetD3)
import(dplyr)
import(Matrix)
import(tidytext)
import(stringr)
import(reshape2)
import(igraph)
import(ggraph)
import(networkD3)


